<!-- Tufts VUE 3.2.2 concept-map (papermap.vue) 2015-03-21 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/Applications/VUE.app/Contents/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Sat Mar 21 20:20:55 MDT 2015 by youngsun on platform Mac OS X 10.9.5 in JVM 1.6.0_65-b14-462-11M4609 -->
<!-- Do Not Remove: Saving version @(#)VUE: built May 23 2013 at 2146 by tomadm on Linux 2.6.18-348.2.1.el5 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0" label="papermap.vue"
    created="1426816278987" x="0.0" y="0.0" width="1.4E-45"
    height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1426990855975" size="39611"
        spec="/Users/youngsun/repos/bitbucket/opencase/papermap.vue"
        type="1" xsi:type="URLResource">
        <title>papermap.vue</title>
        <property key="File" value="/Users/youngsun/repos/bitbucket/opencase/papermap.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/34e132fac0a80002001743beb94fec87</URIString>
    <child ID="6" label="Automated Software Performance Optimization"
        layerID="1" created="1426816322851" x="499.0" y="396.0"
        width="604.0" height="52.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#8AEE95</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-28</font>
        <URIString>http://vue.tufts.edu/rdf/resource/34e205cfc0a80002001743be2abc4673</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="7" label="Introduction" layerID="1"
        created="1426816339599" x="285.0" y="294.0" width="105.0"
        height="30.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/34e205d0c0a80002001743be1e5e2e0e</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="8" label="Theories" layerID="1" created="1426816340234"
        x="780.0" y="116.0" width="121.0" height="30.0"
        strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/34e205d0c0a80002001743be3bc0c7c0</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="9" label="Tools" layerID="1" created="1426816340746"
        x="532.0" y="146.0" width="69.0" height="30.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/34e205d1c0a80002001743be5581fd63</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="10" label="Miscelenious" layerID="1"
        created="1426817561315" x="1101.5" y="169.0" width="121.0"
        height="30.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/34f975acc0a80002001743bed4ff99c9</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="11" layerID="1" created="1426817579263" x="386.55563"
        y="320.58154" width="308.2984" height="75.91849"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/34f975adc0a80002001743beb5494b41</URIString>
        <point1 x="694.354" y="396.0"/>
        <point2 x="387.0556" y="321.0815"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">7</ID2>
    </child>
    <child ID="12" layerID="1" created="1426817580915" x="579.47705"
        y="175.5" width="198.66278" height="221.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/34f975adc0a80002001743bec96c65f0</URIString>
        <point1 x="777.63983" y="396.0"/>
        <point2 x="579.97705" y="176.0"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">9</ID2>
    </child>
    <child ID="13" layerID="1" created="1426817582551" x="804.0292"
        y="145.5" width="34.934753" height="251.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/34f975aec0a80002001743be68261d39</URIString>
        <point1 x="804.5292" y="396.0"/>
        <point2 x="838.4639" y="146.0"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">8</ID2>
    </child>
    <child ID="14" layerID="1" created="1426817584273" x="839.9369"
        y="198.5" width="299.81097" height="198.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/34f975aec0a80002001743be62c382fb</URIString>
        <point1 x="840.43695" y="396.0"/>
        <point2 x="1139.2479" y="199.0"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">10</ID2>
    </child>
    <child ID="16" layerID="1" created="1426817631722" x="314.87784"
        y="323.5" width="17.711853" height="47.333374" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/34f975afc0a80002001743beb11d6ebd</URIString>
        <point1 x="332.0897" y="324.0"/>
        <point2 x="315.37784" y="370.33337"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">17</ID2>
    </child>
    <child ID="17" label="Wikipedia&#xa;Program Optimization"
        layerID="1" created="1426817769312" x="199.5" y="370.33337"
        width="213.0" height="52.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <resource referenceCreated="0" accessAttempted="1426973116111"
            accessSuccessful="1426973116128"
            spec="http://en.wikipedia.org/wiki/Program_optimization"
            type="2" xsi:type="URLResource">
            <property key="URL" value="http://en.wikipedia.org/wiki/Program_optimization"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/34f975b0c0a80002001743bea329c5d9</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="19" label="Wikipedia&#xa;Program Transformation"
        layerID="1" created="1426817864861" x="-400.83334" y="238.66666"
        width="234.0" height="52.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <resource referenceCreated="0" accessAttempted="1426817976280"
            accessSuccessful="1426817976299"
            spec="http://en.wikipedia.org/wiki/Program_transformation"
            type="2" xsi:type="URLResource">
            <property key="URL" value="http://en.wikipedia.org/wiki/Program_transformation"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/34f975b1c0a80002001743be992dbf1b</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="20" layerID="1" created="1426817899953" x="-167.33334"
        y="272.51483" width="452.83334" height="33.239197"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/34f975b1c0a80002001743be684dae17</URIString>
        <point1 x="285.0" y="305.25403"/>
        <point2 x="-166.83334" y="273.01483"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">19</ID2>
    </child>
    <child ID="21" label="Wikipedia&#xa;ASF+SDF Meta Environment"
        layerID="1" created="1426818102219" x="1.0" y="36.66666"
        width="272.0" height="52.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <resource referenceCreated="0"
            spec="http://en.wikipedia.org/wiki/ASF%2BSDF_Meta_Environment"
            type="2" xsi:type="URLResource">
            <property key="URL" value="http://en.wikipedia.org/wiki/ASF%2BSDF_Meta_Environment"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35247956c0a80002001743bea64775eb</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="22" layerID="1" created="1426818108367" x="250.06268"
        y="88.16666" width="282.99664" height="65.56268"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35247956c0a80002001743bedc325c36</URIString>
        <point1 x="532.5593" y="153.22934"/>
        <point2 x="250.56268" y="88.66666"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">21</ID2>
    </child>
    <child ID="23" label="Rascal" layerID="1" created="1426819820672"
        x="-213.66666" y="-4.6666665" width="122.666664"
        height="42.666668" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <resource referenceCreated="0" accessAttempted="1426820718410"
            accessSuccessful="1426820718427" size="164647"
            spec="/Users/youngsun/Documents/Study/Spring2015/OpenCase/papers/RASCAL- a Domain Specific Language for Source Code Analysis and Manipulation.pdf"
            type="1" xsi:type="URLResource">
            <title>RASCAL- a Domain Specific Language for Source Code Analysis and Manipulation.pdf</title>
            <property key="File" value="/Users/youngsun/Documents/Study/Spring2015/OpenCase/papers/RASCAL- a Domain Specific Language for Source Code Analysis and Manipulation.pdf"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35247957c0a80002001743be29197536</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="24" layerID="1" created="1426819841812" x="-91.499985"
        y="25.91782" width="94.76303" height="15.907022"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35247957c0a80002001743be6fd52096</URIString>
        <point1 x="2.7630413" y="41.32484"/>
        <point2 x="-90.99999" y="26.417818"/>
        <ID1 xsi:type="node">21</ID1>
        <ID2 xsi:type="node">23</ID2>
    </child>
    <child ID="25" label="Peephole Optimization" layerID="1"
        created="1426820654286" x="1061.0" y="36.666664" width="220.0"
        height="42.666668" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <resource referenceCreated="0" size="1010273"
            spec="/Users/youngsun/Documents/Study/Spring2015/OpenCase/papers/peephole optimization.pdf"
            type="1" xsi:type="URLResource">
            <title>peephole optimization.pdf</title>
            <property key="File" value="/Users/youngsun/Documents/Study/Spring2015/OpenCase/papers/peephole optimization.pdf"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35247959c0a80002001743be6ac0faf7</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="26" layerID="1" created="1426820663946" x="896.85034"
        y="78.83334" width="178.0653" height="40.109726"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35247959c0a80002001743bedf10fc0e</URIString>
        <point1 x="897.35034" y="118.44307"/>
        <point2 x="1074.4156" y="79.33334"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">25</ID2>
    </child>
    <child ID="27" label="Wikipedia&#xa;Automated Programming"
        layerID="1" created="1426820928929" x="-281.66672" y="148.66669"
        width="239.0" height="52.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <resource referenceCreated="0"
            spec="http://en.wikipedia.org/wiki/Automatic_programming"
            type="2" xsi:type="URLResource">
            <property key="URL" value="http://en.wikipedia.org/wiki/Automatic_programming"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35427b8ec0a80002001743be131461d9</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="28" layerID="1" created="1426820958557" x="-65.957"
        y="200.16669" width="355.71765" height="96.36435"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35427b8ec0a80002001743bebdfad570</URIString>
        <point1 x="289.26065" y="296.03104"/>
        <point2 x="-65.457" y="200.66669"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">27</ID2>
    </child>
    <child ID="29" label="Wikipedia&#xa;Optimizing Compiler" layerID="1"
        created="1426821299678" x="3.6666718" y="508.6667" width="201.0"
        height="52.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <resource referenceCreated="0" accessAttempted="1426860089442"
            accessSuccessful="1426860089460"
            spec="http://en.wikipedia.org/wiki/Optimizing_compiler"
            type="2" xsi:type="URLResource">
            <property key="URL" value="http://en.wikipedia.org/wiki/Optimizing_compiler"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35427b8ec0a80002001743be9b3f75a5</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="30" layerID="1" created="1426821319926" x="141.60162"
        y="421.83337" width="126.963425" height="87.33331"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35427b8fc0a80002001743befbd5464a</URIString>
        <point1 x="268.06506" y="422.33337"/>
        <point2 x="142.10164" y="508.6667"/>
        <ID1 xsi:type="node">17</ID1>
        <ID2 xsi:type="node">29</ID2>
    </child>
    <child ID="32" label="Wikipedia&#xa;Src-to-src Compiler" layerID="1"
        created="1426821459065" x="-280.33334" y="335.33334"
        width="194.0" height="52.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <resource referenceCreated="0" accessAttempted="1426860080053"
            accessSuccessful="1426860080073"
            spec="http://en.wikipedia.org/wiki/Source-to-source_compiler"
            type="2" xsi:type="URLResource">
            <property key="URL" value="http://en.wikipedia.org/wiki/Source-to-source_compiler"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35427b8fc0a80002001743be10d0420d</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="33" layerID="1" created="1426821484981" x="-86.83334"
        y="313.7697" width="372.3878" height="38.317047"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35427b8fc0a80002001743be1843b2a2</URIString>
        <point1 x="285.05444" y="314.2697"/>
        <point2 x="-86.33334" y="351.58676"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">32</ID2>
    </child>
    <child ID="34" label="Wikipedia&#xa;ROSE" layerID="1"
        created="1426821518224" x="306.33334" y="-30.0" width="117.0"
        height="52.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <resource referenceCreated="0"
            spec="http://en.wikipedia.org/wiki/ROSE_(compiler_framework)"
            type="2" xsi:type="URLResource">
            <property key="URL" value="http://en.wikipedia.org/wiki/ROSE_(compiler_framework)"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35427b90c0a80002001743be6d35529d</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="35" layerID="1" created="1426821526836" x="396.11115"
        y="21.5" width="152.55554" height="125.00003" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35427b90c0a80002001743be54fcbba1</URIString>
        <point1 x="548.1667" y="146.00003"/>
        <point2 x="396.61115" y="22.0"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">34</ID2>
    </child>
    <child ID="36" label="Wikipedia&#xa;Program Synthesis" layerID="1"
        created="1426822342640" x="-616.3334" y="118.00001"
        width="191.0" height="52.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <resource referenceCreated="0"
            spec="http://en.wikipedia.org/wiki/Program_synthesis"
            type="2" xsi:type="URLResource">
            <property key="URL" value="http://en.wikipedia.org/wiki/Program_synthesis"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35427b90c0a80002001743be4e4c55d7</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="37" layerID="1" created="1426822353702" x="-425.83337"
        y="151.66544" width="144.66666" height="13.283783"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35427b91c0a80002001743bebdda6ffa</URIString>
        <point1 x="-281.66672" y="164.44922"/>
        <point2 x="-425.33337" y="152.16544"/>
        <ID1 xsi:type="node">27</ID1>
        <ID2 xsi:type="node">36</ID2>
    </child>
    <child ID="38" label="Inductive Programming" layerID="1"
        created="1426822466828" x="-588.3334" y="-32.666664"
        width="224.0" height="54.666668" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <resource referenceCreated="0"
            spec="http://en.wikipedia.org/wiki/Inductive_programming"
            type="2" xsi:type="URLResource">
            <property key="URL" value="http://en.wikipedia.org/wiki/Inductive_programming"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35427b91c0a80002001743be492f31f4</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="39" layerID="1" created="1426822474634" x="-429.12662"
        y="21.5" width="222.08028" height="127.66669" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35427b91c0a80002001743be4fdd013b</URIString>
        <point1 x="-207.54634" y="148.66669"/>
        <point2 x="-428.62662" y="22.0"/>
        <ID1 xsi:type="node">27</ID1>
        <ID2 xsi:type="node">38</ID2>
    </child>
    <child ID="40" label="Wikipedia&#xa;Metaprogramming" layerID="1"
        created="1426822656525" x="-333.6667" y="436.66663"
        width="185.0" height="52.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <resource referenceCreated="0"
            spec="http://en.wikipedia.org/wiki/Metaprogramming" type="2" xsi:type="URLResource">
            <property key="URL" value="http://en.wikipedia.org/wiki/Metaprogramming"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35427b92c0a80002001743befd861e75</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="41" layerID="1" created="1426822670519" x="-152.8562"
        y="321.35498" width="442.44785" height="118.22778"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35427b92c0a80002001743be84ce0b69</URIString>
        <point1 x="289.09164" y="321.85498"/>
        <point2 x="-152.3562" y="439.08276"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">40</ID2>
    </child>
    <child ID="42" label="Wikipedia&#xa;LLVM" layerID="1"
        created="1426822726703" x="490.33334" y="-95.333336"
        width="117.0" height="52.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <resource referenceCreated="0"
            spec="http://en.wikipedia.org/wiki/LLVM" type="2" xsi:type="URLResource">
            <property key="URL" value="http://en.wikipedia.org/wiki/LLVM"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35959cb1c0a80002001743be46a1281c</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="43" layerID="1" created="1426822734873" x="550.3275"
        y="-43.833496" width="15.521912" height="190.3335"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35959cb1c0a80002001743be1945cbbd</URIString>
        <point1 x="565.3495" y="146.0"/>
        <point2 x="550.8276" y="-43.333496"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">42</ID2>
    </child>
    <child ID="44"
        label="A Case Study Using Automatic Performance&#xa;Tuning for Large-Scale Scientific Programs"
        layerID="1" created="1426824909108" x="682.3333" y="-49.999996"
        width="393.0" height="52.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <resource referenceCreated="0" accessAttempted="1426824954326"
            accessSuccessful="1426824954336" size="182061"
            spec="/Users/youngsun/Documents/Study/Spring2015/OpenCase/papers/A Case Study Using Automatic Performance Tuning for Large-Scale Scientific Programs.pdf"
            type="1" xsi:type="URLResource">
            <title>A Case Study Using Automatic Performance Tuning for Large-Scale Scientific Programs.pdf</title>
            <property key="File" value="/Users/youngsun/Documents/Study/Spring2015/OpenCase/papers/A Case Study Using Automatic Performance Tuning for Large-Scale Scientific Programs.pdf"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35959cb1c0a80002001743bec4fd6043</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="45" layerID="1" created="1426824920514" x="843.7096"
        y="1.5" width="29.193542" height="115.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35959cb1c0a80002001743be240646fc</URIString>
        <point1 x="844.20966" y="116.0"/>
        <point2 x="872.4032" y="2.0"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">44</ID2>
    </child>
    <child ID="46"
        label="A Holistic Approach towards Automatic&#xa;Performance Analysis and Tuning&#xa;&#xa;http://researcher.watson.ibm.com/researcher&#xa;/view_group.php?id=2753"
        layerID="1" created="1426825341049" x="-83.0" y="-158.66672"
        width="396.0" height="118.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <resource referenceCreated="0" size="1943949"
            spec="/Users/youngsun/Documents/Study/Spring2015/OpenCase/papers/A Holistic Approach towards Automatic Performance Analysis and Tuning.pdf"
            type="1" xsi:type="URLResource">
            <title>A Holistic Approach towards Automatic Performance Analysis and Tuning.pdf</title>
            <property key="File" value="/Users/youngsun/Documents/Study/Spring2015/OpenCase/papers/A Holistic Approach towards Automatic Performance Analysis and Tuning.pdf"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35959cb3c0a80002001743bebbd468ee</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="47" layerID="1" created="1426825509429" x="216.69373"
        y="-41.166718" width="324.70868" height="187.88834"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35959cb3c0a80002001743bef5453d00</URIString>
        <point1 x="540.9024" y="146.22162"/>
        <point2 x="217.19373" y="-40.666718"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">46</ID2>
    </child>
    <child ID="48" label="Eli" layerID="1" created="1426827394257"
        x="327.66666" y="-223.1667" width="95.0" height="30.0"
        strokeWidth="1.0" autoSized="false" xsi:type="node">
        <resource referenceCreated="0"
            spec="http://eli-project.sourceforge.net/" type="2" xsi:type="URLResource">
            <property key="URL" value="http://eli-project.sourceforge.net/"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35959cb3c0a80002001743bec6ce725e</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="49" layerID="1" created="1426827422617" x="382.44092"
        y="-193.66669" width="176.78479" height="340.1667"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35959cb3c0a80002001743bea73938df</URIString>
        <point1 x="558.7257" y="146.0"/>
        <point2 x="382.94092" y="-193.16669"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">48</ID2>
    </child>
    <child ID="50" label="Wikipedia&#xa;Polytope model" layerID="1"
        created="1426827766366" x="232.99998" y="542.1666" width="163.0"
        height="64.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <resource referenceCreated="0" accessAttempted="1426828533733"
            accessSuccessful="1426828533754"
            spec="http://en.wikipedia.org/wiki/Polytope_model" type="2" xsi:type="URLResource">
            <property key="URL" value="http://en.wikipedia.org/wiki/Polytope_model"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35959cb4c0a80002001743be322298c8</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="51" layerID="1" created="1426827810792" x="306.74274"
        y="421.8335" width="6.7277527" height="120.833496"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35959cb4c0a80002001743be317f6527</URIString>
        <point1 x="307.24274" y="422.3335"/>
        <point2 x="312.9705" y="542.167"/>
        <ID1 xsi:type="node">17</ID1>
        <ID2 xsi:type="node">50</ID2>
    </child>
    <child ID="52" label="Omega Project" layerID="1"
        created="1426828047769" x="481.0" y="-229.83337" width="159.0"
        height="41.333332" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <resource referenceCreated="0"
            spec="http://www.cs.umd.edu/projects/omega/" type="2" xsi:type="URLResource">
            <property key="URL" value="http://www.cs.umd.edu/projects/omega/"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35959cb4c0a80002001743be99dbbb78</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="53" layerID="1" created="1426828065689" x="560.33496"
        y="-189.0" width="6.421875" height="335.5" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35959cb5c0a80002001743be17b92ce5</URIString>
        <point1 x="566.25684" y="146.0"/>
        <point2 x="560.83496" y="-188.5"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">52</ID2>
    </child>
    <child ID="54" label="Polly" layerID="1" created="1426828115689"
        x="79.666664" y="-241.83337" width="101.333336" height="36.0"
        strokeWidth="1.0" autoSized="false" xsi:type="node">
        <resource referenceCreated="0" spec="http://polly.llvm.org/"
            type="2" xsi:type="URLResource">
            <property key="URL" value="http://polly.llvm.org/"/>
        </resource>
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#EA2218</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35959cb5c0a80002001743be4ae0e20a</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="55" layerID="1" created="1426828129205" x="150.23431"
        y="-206.33337" width="399.76483" height="352.83337"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/35959cb6c0a80002001743be594d3d57</URIString>
        <point1 x="549.49915" y="146.0"/>
        <point2 x="150.73433" y="-205.83337"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">54</ID2>
    </child>
    <layer ID="1" label="Layer 1" created="1426816278993" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/34e132fbc0a80002001743be378ee1d6</URIString>
    </layer>
    <userZoom>0.7132572279073691</userZoom>
    <userOrigin x="-459.96088" y="-208.06834"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Untitled Pathway" created="1426816278986"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="-1" open="true">
            <strokeColor>#B3993333</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/34e132fcc0a80002001743bede0be041</URIString>
            <masterSlide ID="2" created="1426816279010" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/34e132fdc0a80002001743bee2a613a7</URIString>
                <titleStyle ID="3" label="Header"
                    created="1426816279072" x="341.0" y="175.0"
                    width="118.0" height="50.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/34e132fdc0a80002001743befbb2a973</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1426816279073" x="349.5" y="282.5"
                    width="101.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/34e132fec0a80002001743be47d97417</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1426816279074"
                    x="375.5" y="385.0" width="49.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/34e132ffc0a80002001743be9a5e8bac</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2015-03-19</date>
    <modelVersion>6</modelVersion>
    <saveLocation>/Users/youngsun/repos/bitbucket/opencase</saveLocation>
    <saveFile>/Users/youngsun/repos/bitbucket/opencase/papermap.vue</saveFile>
</LW-MAP>
